<aside class="sidebar">
    <div class="title">ARC Builder</div>
    <button>Login</button>
    <button>Logout</button>
    <div class="chats">
        <div class="chat-item">Chat #1</div>
        <div class="chat-item">Chat #2</div>
    </div>
</aside>
